:root{
    --main-color: rgb(69, 122, 248);
    --background-color:rgba(66, 66, 66, 0.444);
    --secondary-color: rgb(74, 137, 188);
    --big-bg: rgb(108, 133, 134);
}
html{
    background-color: var(--big-bg);
}
#view-high{
    color: var(--main-color);
    background-color: black;/*var(--background-color);*/
    margin: 20px;
    border: 10px 10px;
    border-radius: 5px;
    padding: 8px;
}


h1{
    text-align: center;
    color: var(--main-color);
    background-color:var(--background-color);
    font-size: 50px;
}

#button-to-start{
    text-align: center;
}

.finalscores{
    color: var(--secondary-color);
}

#scores{
    text-align: center;
}

li{
    list-style: none;
    font-size: 40px;
}


#info{
    background-color: var(--background-color);
    text-align: center;
    margin: 0 250px;
}

#again{
    text-align: center;
}

button{
    background-color: black;
    color: white;
    font-size: 20px;
}

#question, #feedback, #timer, #answer{
    color: white;
    font-size: 20px;
}

#initals-input{
    font-size: 20px;
}

#answers{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 5px, 20px;
}


header{
    border: 10px solid black;
    margin: 20px 250px;
}